<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="row mt-1">
            <div class="col-sm-4 text-center">
            <i class="fas fa-search-location"></i>
            </div>
            <div class="col-sm-4 text-center">
            <i class="far fa-newspaper"></i>
            </div>
            <div class="col-sm-4 text-center">
            <i class="fas fa-sun"></i>
            </div>
          </div>
        </div>
    </div>

    <div class="container mt-5">
      <h1>The News</h1>
    <p>
      <% for news in @headlines_titles %>
        <div class="news_titles">
            <%= news["title"] %>
        </div>
        
        <div class="news_urls">
            <%= news["url"] %>
        </div>
        <hr class="my-4">
      <% end %>
    </p>
      
    <h2>The weather in <%= @location %></h2>
    <p>
      In <%= @location %>, it is currently <%= @current_temperature %> degrees and <%= @current_conditions.downcase %>
    </p>
    <p>
      Extended forecast:
    </p>
    <p>
      <% for day in @daily_forecast %>
    
    <div class="container mt-5">
            A high temperature of <%= day["temperatureHigh"] %> degrees and <%= day["summary"] %>
        </div>
      <% end %>    
    </div>

    <hr class="my-4">

    <div class="container mt-5">
    <h2>Coordinates and Map</h2>
    <p>
      The coordinates of the location you typed are <%= @lat %>, <%= @lng %>
    </p>
    <div class="container-fluid"
        <div class=row>
        <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
            &q=<%= @lat_lng %>&zoom=8" allowfullscreen>
        </iframe>
        </div>
    </div>
    </div>
    
    <div class="container mt-5">
    <p>
        <a href="/" class="btn btn-primary">Try another location!</a>
    </p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>